<div class="login-box">
	<div class="login-logo">
		<b>Management System</b>
	</div>
	<div class="login-box-body">
		<div class="login-logo-pic">
			<img src="./sys/images/logo_m.jpg">
		</div>

		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close($index)">
			<div translate="{{alert.msg}}"></div>
		</uib-alert>

		<div class="form-group has-feedback">
			<input type="text" class="form-control login_input" ng-model="userName"
				placeholder="{{'sys_label_user_name'|translate}}"
				ng-change="clearErrorMsg()"/>
			<span class="glyphicon glyphicon-user form-control-feedback"></span>
		</div>
		<div class="form-group has-feedback">
			<input type="password" class="form-control login_input" ng-model="password"
				placeholder="{{'sys_label_password'|translate}}"
				ng-change="clearErrorMsg()" ng-keyup="enter($event)"/>
			<span class="iconfont icon-key form-control-feedback"></span>
		</div>
		
<!-- 		<div class="form-group has-feedback">
			<select class="form-control login_input" ng-change="switching(this)" ng-model="language" 
				ng-options="option.code as option.description for option in langList"> 
			</select>
		</div> -->

		<div class="row">
			<div class="col-xs-8 checkbox icheck">
				<label style="margin-left: 21px;"><input type="checkbox" ng-model="rememberMe">{{'sys_label_login_state'|translate}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 pull-right">
				<button ng-click="login()" class="btn btn-lg btn-success btn-block">{{'sys_button_sign_in'|translate}}</button>
			</div>
		</div>
	</div>
</div>