<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>{{'sys_menu_function'|translate}}</h1>
</section>

<!-- Main content -->
<section class="content" ng-init="init()">
	<!-- Your Page Content Here -->
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body">
					<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
						close="alert.close($index)">
					<div translate="{{alert.msg}}"></div>
					</uib-alert>
					<div class="row">
						<div class="col-md-2">
							<label class="control-label">{{'sys_label_menu_name'|translate}}</label>
						</div>
						<div class="col-md-3">
							
							<select class="form-control" ng-model="searchmodel.lev1" 
								ng-change="funcNameChange()"
								ng-options="list.lev1 as list.funcNames for list in menuNames">
								<option></option>
							</select>
						</div>
						<div class="col-md-2">
							<label class="control-label">{{'sys_label_func_name'|translate}}</label>
						</div>
						<div class="col-md-3">
							<select class="form-control" 
							ng-model="searchmodel.lev2" 
							ng-options="list.lev2 as list.funcNames for list in funcNamelist"></select>
						</div>
						<div class="col-md-2">
							<button type="button" class="btn btn-primary" ng-if="powers.search"
								ng-click="search(searchmodel)">{{'sys_button_search'|translate}}</button>
							<button type="button" class="btn btn-primary"
								ng-click="resert()">{{'sys_button_reset'| translate}}</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="button" class="btn btn-primary"  ng-if="powers.create"
							 ng-click="create()"> {{'sys_button_add'|translate}}</button>
							<button type="button" class="btn btn-primary" ng-if="powers.update" 
							ng-click="edit()">{{'sys_button_edit'|translate}}</button>
							<button type="button" class="btn btn-primary" ng-if="powers.delete"
								ng-click="deletes()">{{'sys_button_delete'|translate}}</button>
							<button type="button" class="btn btn-primary"	ng-if="powers.audit"
							 	ng-click="auditTrail()">{{'sys_button_audit'|translate}}</button>
							 <button type="button" class="btn btn-primary" ng-if="powers.view"
							 	ng-click="view()">{{'sys_button_view'|translate}}</button>
						</div>
					</div>
					<div class="table-responsive">
						<table st-table="tableData"
							class="table table-bordered table-hover smart-table">
							<thead>
								<tr>
									<th row-select-all="tableData" selected="selected"
										ng-click="selectAll(tableData)"></th>
									<th>{{'sys_label_func_code'|translate}}</th>
									<th>{{'sys_label_func_name'|translate}}</th>
									<th>{{'sys_label_func_type'|translate}}</th>
									<th>{{'sys_label_level_1'|translate}}</th>
									<th>{{'sys_label_level_2'|translate}}</th>
									<th>{{'sys_label_func_ui'|translate}}</th>
									<th>{{'sys_label_func_url'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in tableData" ng-dblclick="select1(row)" ng-click="select(row)">
									<td row-select="row"></td>
									<td>{{row.funcCode}}</td>
									<td>{{row.funcNames}}</td>
									<td>
										<span ng-show="row.type=='menu'">{{'sys_label_menu'|translate}}</span>
										<span ng-show="row.type=='func'">{{'sys_label_function'|translate}}</span>
									</td>
									<td>{{row.lev1}}</td>
									<td>{{row.lev2}}</td>
									<td>{{row.uiSref}}</td>
									<td>{{row.funcUrl}}</td>
								</tr>							
							</tbody>
							<tfoot>
								<tr>
									<td colspan="8" class="text-center">
										<sys-pagination page="menuPage" search_model="pageModel" on_search="search(pageModel)"/>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="confirmModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
 	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
   			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
     			<span aria-hidden="true">&times;</span>
    			</button>
    			<h4 class="modal-title" id="myModalLabel">{{'sys_label_hint'|translate}}</h4>
  			</div>
   			<div class="modal-body">{{'sys_msg_confirm'|translate}}</div>
	   		<div class="modal-footer">
	          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deletes(true)">{{'sys_button_ok'|translate}}</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">{{'sys_button_return'|translate}}</button>
	   		</div>
  		</div>
 	</div>
</div>
<!-- /.content -->