<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>{{'sys_menu_role'|translate}}</h1>
</section>

<!-- Main content -->
<section class="content" ng-init="init()">
	<!-- Your Page Content Here -->
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body">
					<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
						close="alert.close($index)">
					<div translate="{{alert.msg}}"></div>
					</uib-alert>
					<div class="row">
						<div class="col-md-2">
							<label class="control-label">{{'sys_label_role_name'|translate}}</label>
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control "  ng-model="searchModel.roleName" maxlength="20" placeholder="{{'sys_label_role_name'|translate}}"/>
						</div>
						<div class="col-md-2">
							<button type="button" class="btn btn-primary"
								ng-click="search(true)"  ng-if="powers.search">{{'sys_button_search'|translate}}</button>
								<button type="button" class="btn btn-primary"
								ng-click="resert()">{{'sys_button_reset'| translate}}</button>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-12">
							<button type="button" class="btn btn-primary"  
								ng-click="addRole()" ng-if = "powers.create">{{'sys_button_add'|translate}}</button>
							<button type="button" class="btn btn-primary"
							 	ng-click="editRole()" ng-if = "powers.update">{{'sys_button_edit'|translate}}</button>
							<button type="button" class="btn btn-primary"
							 	ng-click="deletes()" ng-if = "powers.delete">{{'sys_button_delete'|translate}}</button>
							 <button type="button" class="btn btn-primary"
							 	ng-click="auditTrail()" ng-if = "powers.audit">{{'sys_button_audit'|translate}}</button>
							 <button type="button" class="btn btn-primary"
							 	ng-click="view()" ng-if = "powers.view">{{'sys_button_view'|translate}}</button>
					    </div>
					</div>
					<br />
					<div class="table-responsive">
						<table st-table="tableData" 
							class="table table-bordered table-hover smart-table">
							<thead>
								<tr>
									<th row-select-all="tableData" selected="selected" ng-click="selectAll(tableData)"></th>
									<th>{{'sys_label_role_code'|translate}}</th>
									<th>{{'sys_label_role_name'|translate}}</th>
									<th>{{'sys_label_remark'|translate}}</th>
									<th>{{'sys_label_sequence'|translate}}</th>
									<th>{{'sys_label_active'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in tableData" ng-dblclick="select1(row)" ng-click="select(row)">
									<td row-select="row"></td>
									<td>{{row.roleCode}}</td>
									<td>{{row.roleName}}</td>
									<td>{{row.roleRemark}}</td>
									<td>{{row.roleOrder}}</td>
									<td>{{row.roleActive}}</td>
								</tr>
							<tfoot>
								<tr>
									<td colspan="8" class="text-center">
										<sys-pagination page="page" search-model="searchModel" on-search="search()"/>
									</td>
								</tr>
							</tfoot>
							</tbody>
						</table>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</section>
<div id="confirmModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
 	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
   			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
     			<span aria-hidden="true">&times;</span>
    			</button>
    			<h4 class="modal-title" id="myModalLabel">{{'sys_label_hint'|translate}}</h4>
  			</div>
   			<div class="modal-body">{{'sys_msg_confirm'|translate}}</div>
	   		<div class="modal-footer">
	          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deletes(true)">{{'sys_button_ok'|translate}}</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">{{'sys_button_return'|translate}}</button>
	   		</div>
  		</div>
 	</div>
</div>
<!-- confirmModal -->
<div id="confirmModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
 <div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">{{'sys_label_hint'|translate}}</h4>
   </div>
   <div class="modal-body">{{'sys_msg_confirm'|translate}}</div>
   <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deletes(true)">{{'sys_button_ok'|translate}}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'sys_button_return'|translate}}</button>
   </div>
  </div>
 </div>
</div>
<!-- /.content -->