<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>图片<span ng-show='new'>上传</span><span ng-show='!new'>信息编辑</span></h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" >
                <div class="box-body">
					<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
						close="alert.close($index)">
					<div translate="{{alert.msg}}"></div>
					</uib-alert>
					
					<div style="width: 50%; display: inline-block;">
						<div class="row">
						  <div class="col-md-4 required"><label class="control-label">图片名称</label></div>
						  <div class="col-md-6">
							  	<input type="text" class="form-control" required maxlength="80" placeholder="请输入图片名称" ng-model="picModel.picName" ng-disabled="picModel.falg || isSaveCk">
						  </div>
						</div>
						<div class="row" ng-if="isSaveCk">
							<div class="col-md-2"></div>
							<div class="col-md-6">
								<span style="color:red" ng-show="picModel.picName==null && isSaveCk">
									图片名称是必填项.
								</span>
							</div>
						</div>
						<div class="row">
						  <div class="col-md-4"><label class="control-label">大小(单位:kb)</label></div>
						  <div class="col-md-6">
							  	<input type="text" class="form-control" ng-disabled="state" required maxlength="200" placeholder="请输入图片大小" ng-model="picModel.picSize">
						</div>
						</div>
						
						<div class="row">
						  <div class="col-md-4"><label class="control-label">宽度</label></div>
						  <div class="col-md-6">
							  	<input type="number" class="form-control" ng-disabled="state" required maxlength="200" placeholder="请输入图片宽度" ng-model="picModel.width">
						</div>
						</div>
						
						<div class="row">
						  <div class="col-md-4"><label class="control-label">长度</label></div>
						  <div class="col-md-6">
							  	<input type="number" class="form-control" ng-disabled="state" required maxlength="200"  placeholder="请输入图片长度" ng-model="picModel.length">
						</div>
						</div>
	            	</div>
	            	<div style="width: 50%; display: inline-block;">
	            		<div class="row">
						  <div class="col-md-12">
							  	<!-- <img alt="" src="{{picModel.protocol}}{{picModel.host}}/{{picModel.mainPicture}}" /> -->
							  	<img alt="" src="" />
						  </div>
						</div>
	            	</div>
            	
            	
            	</div>
            	
	            <div class="row">
					<div class="col-md-12 text-right">
						<button type="button" class="btn btn-primary" ng-if="!state" ng-click="save()">{{'sys_button_save'|translate}}</button>
						<button type="button" class="btn btn-primary" ng-click="cancel()">{{'sys_button_return'|translate}}</button>
					</div>
				</div>
        	</div>
    	</div>
    </div>
</section>



